{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hives/css/add_data_tabs.css' %}" />
<div class="tab">
    <button class="tablinks" onclick="location.href='/addHivesData/{{ hive_id }}/hiver1/'">Miodnia 1</button>
    <button class="tablinks" onclick="location.href='/addHivesData/{{ hive_id }}/hiver2/'">Miodnia 2</button>
    <button class="tablinks" onclick="location.href='/addHivesData/{{ hive_id }}/hiver3/'">Miodnia 3</button>
    <button class="tablinks" onclick="location.href='/addHivesData/{{ hive_id }}/hiver4/'">Miodnia 4</button>
    <button class="tablinks" style="float:right" onclick="location.href='/main'">Powrót do menu</button>
</div>
