{% extends 'base.html' %}
{% block title %}Miodnia 3{% endblock %}
{% block body %}
<style>
table, th, td {
    border:1px solid black;

}
</style>
<div class="app-body-wrapper">
    <h1>Miodnia 3</h1>
    
{% include 'include\view_data_tabs.html' %}
    <div class="table-con">    
        <br>
        <table class='result-data'>
        <tr class="table-header"><th>Data</th><th colspan="4">Ramka 1</th><th colspan="4">Ramka 2</th><th colspan="4">Ramka 3</th><th colspan="4">Ramka 4</th><th colspan="4">Ramka 5</th> <th colspan="4">Ramka 6</th> <th colspan="4">Ramka 7</th colspan="4"> <th colspan="4">Ramka 8</th><th colspan="4">Ramka 9</th><th colspan="4">Ramka 10</th></tr>
        {% for hiveThree in form %}
        <tr><td>{{hiveThree.addDate}}</td>
            <td>{{hiveThree.first_frame_honey}}</td><td>{{hiveThree.first_frame_speck}}</td><td>{{hiveThree.first_frame_beebread}}</td><td>{{hiveThree.first_frame_worm}}</td>
            <td>{{hiveThree.second_frame_honey}}</td><td>{{hiveThree.second_frame_speck}}</td><td>{{hiveThree.second_frame_beebread}}</td><td>{{hiveThree.second_frame_worm}}</td>
            <td>{{hiveThree.third_frame_honey}}</td><td>{{hiveThree.third_frame_speck}}</td><td>{{hiveThree.third_frame_beebread}}</td><td>{{hiveThree.third_frame_worm}}</td>
            <td>{{hiveThree.fourth_frame_honey}}</td><td>{{hiveThree.fourth_frame_speck}}</td><td>{{hiveThree.fourth_frame_beebread}}</td><td>{{hiveThree.fourth_frame_worm}}</td>
            <td>{{hiveThree.fifth_frame_honey}}</td><td>{{hiveThree.fifth_frame_speck}}</td><td>{{hiveThree.fifth_frame_beebread}}</td><td>{{hiveThree.fifth_frame_worm}}</td>
            <td>{{hiveThree.sixth_frame_honey}}</td><td>{{hiveThree.sixth_frame_speck}}</td><td>{{hiveThree.sixth_frame_beebread}}</td><td>{{hiveThree.sixth_frame_worm}}</td>
            <td>{{hiveThree.seventh_frame_honey}}</td><td>{{hiveThree.seventh_frame_speck}}</td><td>{{hiveThree.seventh_frame_beebread}}</td><td>{{hiveThree.seventh_frame_worm}}</td>
            <td>{{hiveThree.eight_frame_honey}}</td><td>{{hiveThree.eight_frame_speck}}</td><td>{{hiveThree.eight_frame_beebread}}</td><td>{{hiveThree.eight_frame_worm}}</td>
            <td>{{hiveThree.ninth_frame_honey}}</td><td>{{hiveThree.ninth_frame_speck}}</td><td>{{hiveThree.ninth_frame_beebread}}</td><td>{{hiveThree.ninth_frame_worm}}</td>
            <td>{{hiveThree.tenth_frame_honey}}</td><td>{{hiveThree.tenth_frame_speck}}</td><td>{{hiveThree.tenth_frame_beebread}}</td><td>{{hiveThree.tenth_frame_worm}}</td>


        </tr>   
        {% endfor %}
    </table>
</div>
{% endblock %}
