{% extends 'base.html' %}
{% block title %}Miodnia 2{% endblock %}
{% block body %}
<style>
table, th, td {
    border:1px solid black;

}
</style>
<div class="app-body-wrapper">
    <h1>Miodnia 2</h1>

        {% include 'include\view_data_tabs.html' %}
        <div class="table-con">    
        <br>
        <table class='result-data'>
        <tr class="table-header"><th>Data</th><th colspan="4">Ramka 1</th><th colspan="4">Ramka 2</th><th colspan="4">Ramka 3</th><th colspan="4">Ramka 4</th><th colspan="4">Ramka 5</th> <th colspan="4">Ramka 6</th> <th colspan="4">Ramka 7</th colspan="4"> <th colspan="4">Ramka 8</th><th colspan="4">Ramka 9</th><th colspan="4">Ramka 10</th></tr>
        {% for hiveTwo in form %}
        <tr><td>{{hiveTwo.addDate}}</td>
            <td>{{hiveTwo.first_frame_honey}}</td><td>{{hiveTwo.first_frame_speck}}</td><td>{{hiveTwo.first_frame_beebread}}</td><td>{{hiveTwo.first_frame_worm}}</td>
            <td>{{hiveTwo.second_frame_honey}}</td><td>{{hiveTwo.second_frame_speck}}</td><td>{{hiveTwo.second_frame_beebread}}</td><td>{{hiveTwo.second_frame_worm}}</td>
            <td>{{hiveTwo.third_frame_honey}}</td><td>{{hiveTwo.third_frame_speck}}</td><td>{{hiveTwo.third_frame_beebread}}</td><td>{{hiveTwo.third_frame_worm}}</td>
            <td>{{hiveTwo.fourth_frame_honey}}</td><td>{{hiveTwo.fourth_frame_speck}}</td><td>{{hiveTwo.fourth_frame_beebread}}</td><td>{{hiveTwo.fourth_frame_worm}}</td>
            <td>{{hiveTwo.fifth_frame_honey}}</td><td>{{hiveTwo.fifth_frame_speck}}</td><td>{{hiveTwo.fifth_frame_beebread}}</td><td>{{hiveTwo.fifth_frame_worm}}</td>
            <td>{{hiveTwo.sixth_frame_honey}}</td><td>{{hiveTwo.sixth_frame_speck}}</td><td>{{hiveTwo.sixth_frame_beebread}}</td><td>{{hiveTwo.sixth_frame_worm}}</td>
            <td>{{hiveTwo.seventh_frame_honey}}</td><td>{{hiveTwo.seventh_frame_speck}}</td><td>{{hiveTwo.seventh_frame_beebread}}</td><td>{{hiveTwo.seventh_frame_worm}}</td>
            <td>{{hiveTwo.eight_frame_honey}}</td><td>{{hiveTwo.eight_frame_speck}}</td><td>{{hiveTwo.eight_frame_beebread}}</td><td>{{hiveTwo.eight_frame_worm}}</td>
            <td>{{hiveTwo.ninth_frame_honey}}</td><td>{{hiveTwo.ninth_frame_speck}}</td><td>{{hiveTwo.ninth_frame_beebread}}</td><td>{{hiveTwo.ninth_frame_worm}}</td>
            <td>{{hiveTwo.tenth_frame_honey}}</td><td>{{hiveTwo.tenth_frame_speck}}</td><td>{{hiveTwo.tenth_frame_beebread}}</td><td>{{hiveTwo.tenth_frame_worm}}</td>


        </tr>   
        {% endfor %}
    </table>
</div>
{% endblock %}
