{% extends 'base.html' %}
{% block title %}Zarejestruj się{% endblock %}
{% block body %}

<div class="app-body-wrapper">
	<h1>Sign up</h1>
	<div class="app-body">
		<form action="signup/" method="POST">
			<table>
			{% for x in form %}
			<tr><td>{%if x.label == 'Password1' %}
					Password
					{% else %}
						{{x.label}}
					{% endif %}
			
			</td><td>{{x}}</td></tr>
			{% endfor %}
			</table>
			{% csrf_token %}
			<input type="submit" value="Rejestruj">
		</form>
	</div>
</div>

{% endblock %}
